/* Mediaqueries breakpoints */
/****  COLORS  ****/
/* line 64, ../scss/myStyle.scss */
#header .service-label {
  -webkit-box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 76, ../scss/myStyle.scss */
p.lead {
  font-family: Arial, Helvetica, Verdana sans-serif;
  font-size: 16.8px;
  font-color: black;
  line-height: 1.44;
}

/* line 80, ../scss/myStyle.scss */
#content #main h1:first-child, #content #main h2:first-child, #content #main #sidebar > h3:first-child, #content #content #sidebar > h3:first-child {
  margin-bottom: 2em;
  color: #0d59ab;
}

/* line 87, ../scss/myStyle.scss */
sup {
  vertical-align: super;
}

/* line 91, ../scss/myStyle.scss */
sub {
  vertical-align: sub;
}

/* line 94, ../scss/myStyle.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*** Text-Styles ***/
/* line 100, ../scss/myStyle.scss */
html, body {
  text-rendering: optimizeLegibility;
  height: 100%;
}

/* line 104, ../scss/myStyle.scss */
body {
  /*Pages shadow to be done*/
  font-family: Arial, Helvetica, Verdana sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: black;
}

/* line 111, ../scss/myStyle.scss */
h1, h2, #content #sidebar > h3, h3 {
  font-family: "Roboto", Arial, Helvetica, Verdana sans-serif;
  margin: 0;
  padding: 0;
}

/* line 116, ../scss/myStyle.scss */
h1 {
  font-size: 25.2px;
  font-color: #0d59ab;
  line-height: 35px;
  font-weight: 200;
}
/* line 119, ../scss/myStyle.scss */
#page-title h1 {
  text-align: center;
  margin: 3em 0;
  color: #0d355e;
}

/* line 125, ../scss/myStyle.scss */
h2, #content #sidebar > h3 {
  font-size: 23.8px;
  font-color: #0d59ab;
  line-height: 28px;
  font-weight: 300;
}

/* line 134, ../scss/myStyle.scss */
h3 {
  font-size: 19.6px;
  font-color: black;
  line-height: 23.8px;
  font-weight: 500;
}
/* line 140, ../scss/myStyle.scss */
#content #sidebar .article > h3, #content #main > h3 {
  color: black;
  margin-bottom: 1.714em;
}

/* line 145, ../scss/myStyle.scss */
h4, h5, h6 {
  font-size: 14px;
  font-color: black;
  line-height: 15.4px;
  font-weight: 500;
}

/* line 149, ../scss/myStyle.scss */
p {
  font-size: 1em;
  font-color: black;
  line-height: 1.4;
  font-weight: normal;
}
/* line 155, ../scss/myStyle.scss */
p + p {
  margin-top: 7px;
}
/* line 158, ../scss/myStyle.scss */
p a {
  color: #0d59ab;
  text-decoration: none;
}
/* line 161, ../scss/myStyle.scss */
p a:hover {
  color: #0d355e;
  text-decoration: none;
  border-bottom: 1px dotted #9ba21b;
}

/* ----- NAVIGATION ----- */
/* line 173, ../scss/myStyle.scss */
.navigation {
  font-size: 14px;
  font-color: black;
  line-height: 1.1;
}
/* line 175, ../scss/myStyle.scss */
.navigation li {
  list-style: none;
}
/* line 177, ../scss/myStyle.scss */
.navigation li a {
  color: inherit;
}
/* line 179, ../scss/myStyle.scss */
.navigation li a:hover {
  text-decoration: none;
}
/* line 181, ../scss/myStyle.scss */
.navigation li ul {
  margin: 0;
}
/* line 183, ../scss/myStyle.scss */
#header .navigation li ul, #footer .navigation li ul {
  display: none;
}
/* line 185, ../scss/myStyle.scss */
#header .navigation li {
  float: left;
  width: 45%;
  max-height: 70px;
  padding-right: 5%;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}
/* line 196, ../scss/myStyle.scss */
#header .navigation li a {
  padding: 0.857em 0;
  display: block;
}
/* line 199, ../scss/myStyle.scss */
#header .navigation li a + ul {
  display: none;
}
/* line 202, ../scss/myStyle.scss */
#sidebar .navigation li {
  display: block;
}
/* line 204, ../scss/myStyle.scss */
#sidebar .navigation li > a {
  display: none;
  line-height: 1.8;
  border-bottom: 1px dotted #0d355e;
}
/* line 209, ../scss/myStyle.scss */
#sidebar .navigation li a.active {
  display: block;
}
/* line 211, ../scss/myStyle.scss */
#sidebar .navigation li a.active, #sidebar .navigation li a.active:hover {
  color: #0d59ab;
}
/* line 213, ../scss/myStyle.scss */
#sidebar .navigation li a.active + ul > li > a {
  display: block;
}
/* line 215, ../scss/myStyle.scss */
#sidebar .navigation li ul {
  padding-left: 2em;
  margin-bottom: -1px;
}
/* line 217, ../scss/myStyle.scss */
#footer .navigation li {
  font-family: Arial, Helvetica, Verdana sans-serif;
  display: inline-block;
}
/* line 221, ../scss/myStyle.scss */
#footer .navigation li + li {
  margin-left: 1em;
}
/* line 224, ../scss/myStyle.scss */
#footer .navigation li a {
  font-size: .9em;
  text-decoration: none;
  line-height: 2.2;
  color: #0d0d0d;
}

/* line 236, ../scss/myStyle.scss */
body {
  background: rgba(0, 0, 0, 0.05);
}

/* line 240, ../scss/myStyle.scss */
#page {
  background: white;
  min-height: 100%;
  position: relative;
  padding: 20px;
}

/* line 246, ../scss/myStyle.scss */
.row {
  border: 1px solid red;
  margin: 2em 0;
}
/* line 250, ../scss/myStyle.scss */
.row#header {
  margin-top: 0;
}
/* line 251, ../scss/myStyle.scss */
.row#footer {
  margin-bottom: 0;
}

/* ----- HEADER ----- */
/* line 254, ../scss/myStyle.scss */
#header {
  /*** service label ***/
}
/* line 256, ../scss/myStyle.scss */
#header .service-label {
  background: #0d59ab;
  color: #fff;
  padding: 1em;
  margin-right: -40px;
  position: relative;
}
/* line 264, ../scss/myStyle.scss */
#header .service-label:after {
  position: absolute;
  top: -12px;
  right: 0;
  content: ' ';
  width: 0;
  height: 0;
  border-width: 6px 10px 6px 10px;
  border-style: solid;
  border-color: transparent transparent #0b4d93 #0b4d93;
}
/* line 279, ../scss/myStyle.scss */
#header .service-label h2, #header .service-label #content #sidebar > h3, #content #header .service-label #sidebar > h3, #header .service-label h3, #header .service-label p {
  color: inherit;
}
/* line 282, ../scss/myStyle.scss */
#header .service-label .phone:before {
  font-family: 'FontAwesome';
  content: "\f095";
  padding-right: 0.5em;
  opacity: 1;
  margin-left: 0.5em;
  font-size: inherit;
}
/* line 285, ../scss/myStyle.scss */
#header .service-label p > span {
  float: left;
  display: inline-block;
  width: 50%;
}

/* ----- CONTENT ----- */
/* ----- BREADCRUMB ----- */
/* line 293, ../scss/myStyle.scss */
#breadcrumb ul {
  display: inline;
}
/* line 295, ../scss/myStyle.scss */
#breadcrumb ul li {
  list-style: none;
  float: left;
  font-size: small;
  color: gray;
  font-weight: bold;
}
/* line 301, ../scss/myStyle.scss */
#breadcrumb ul li + li {
  margin-left: 5px;
}
/* line 304, ../scss/myStyle.scss */
#breadcrumb ul li a, #breadcrumb ul li a:visited, #breadcrumb ul li a:active {
  text-decoration: none;
  color: gray;
  font-weight: normal;
}

/* ----- FOOTER ----- */
/* line 314, ../scss/myStyle.scss */
#footer {
  background: #cccccc;
  padding: 2em 0;
  /*    li:last-child{float:right;}*/
}
/* line 317, ../scss/myStyle.scss */
#footer .nav-container li {
  list-style: none;
  float: left;
}
/* line 321, ../scss/myStyle.scss */
#footer li.footer-menu {
  float: right;
}
/* line 325, ../scss/myStyle.scss */
#footer #navigation_searchform_top:after {
  font-family: 'FontAwesome';
  content: "\f002";
  padding-right: 0;
  opacity: 1;
  margin-left: 0;
  font-size: 1.8em;
}
/* line 328, ../scss/myStyle.scss */
#footer #navigation_searchform_top #search_term {
  outline: none;
  background: none;
  border: none;
  width: 130px;
  cursor: pointer;
  padding-left: 2px;
}
/* line 338, ../scss/myStyle.scss */
#footer #copyright {
  font-size: small;
  line-height: 1.2;
}
