// ------------------------------------
// Settings
// ------------------------------------
/* Mediaqueries breakpoints */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/****  COLORS  ****/
$brand-primary: #0d59ab;
$brand-secondary: #0d355e;

$text-color:#000;
$bg_body:rgba(0,0,0,.05);
$bg_page:#fff;


$foo:red;



// ------------------------------------
// Font attributes.
// ------------------------------------

$font-size: 14px;
$font-line: 1.2;
$font-indent: 2em;

// ------------------------------------
// Heading attributes.
// ------------------------------------

$font-size-h1: $font-size * 1.8;
$font-size-h2: $font-size * 1.7;
$font-size-h3: $font-size * 1.4;
$font-size-h4: $font-size * 1.0;
$font-size-h5: $font-size * 1.0;
$font-size-h6: $font-size * 1.0;

// ------------------------------------
// Font families.
// ------------------------------------
$font-base: Arial, Helvetica, Verdana sans-serif;
$font-headings:'Roboto', $font-base;

@mixin text-style($font-size,$font-line,$color){
    font:{
        size:$font-size;
        color:$color;
    }
    line-height:$font-line;
}
@mixin icon-style ($cnt, $pd-ri, $op, $mg-le, $size) {
    font-family: 'FontAwesome';
    content: $cnt;
    padding-right: $pd-ri;
    opacity: $op;
    margin-left:$mg-le;
    font-size:$size;
}

%shadow{
    -webkit-box-shadow: 0 2px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px 2px rgba(0,0,0,0.1);
}

%list-icon{
    @include icon-style ("\f058", 2em, 1, 0, inherit);
}
%lead {
    font-family:$font-base;
    @include text-style($font-size * 1.2,$font-line * 1.2,$text-color);
}
sup{
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*** Text-Styles ***/
html, body {
    text-rendering: optimizeLegibility;
    height:100%;
}
body {
    /*Pages shadow to be done*/
    font-family: $font-base;
    font-size: $font-size;
    line-height: $font-line;
    color: $text-color;
}
h1, h2, h3 {
    font-family:$font-headings;
    margin:0;
    padding:0;
}
h1 {
    @include text-style($font-size-h1,$font-size * 2.5,$brand-primary);
    font-weight:200;
        #content &{
        text-align:center;
        margin:3em 0;
        color:$brand-secondary;
    }
}
h2 {
    @include text-style($font-size-h2,$font-size * 2,$brand-primary);
    font-weight:300;
}
#content .main h2, #content .sidebar > h3{
    margin-bottom:2em;
    color:$brand-primary;
}
h3 {
    @include text-style($font-size-h3,$font-size * 1.7,$text-color);
    font-weight:500;
    #content .sidebar > &{
        @extend h2;
    }
    #content .sidebar .article > &, #content .main > &{
        color:$text-color;
        margin-bottom: 1.714em;
    }
}
h4, h5, h6 {
    @include text-style($font-size,$font-size * 1.1,$text-color);
    font-weight:500;
}
/* ----- Text Styles ----- */
p {
    @include text-style(1em,1.1,$text-color);
    font-weight:normal;
    &.lead {
        @extend %lead;
    }
    &+p {
        margin-top: 7px;
    }
    a {
        color: $brand-primary;
        text-decoration: none;
        &:hover {
            color: $brand-secondary;
            text-decoration: none;
            border-bottom: 1px dotted #9ba21b;
        }
    }
}

// ------------------------------------
// Components
// ------------------------------------
.navigation {
    @include text-style($font-size,1.1,$text-color);
    li {
        font-family: $font-headings;
        float:left;
        list-style:none;

        a {
            color:inherit;
            

            &:hover {text-decoration: none;}
        }

        #header & {
            width:45%;
            max-height:70px;
            padding-right:5%;
            border:{
                width:0 0 2px 0;
                style:solid;
                color:rgba(0,0,0,0.5);
            }

            a {padding:0.857em 0;display:block;}
        }
        #footer & {
            font-family:$font-base;
            display:inline-block;
            margin-right:20px; /*** ToDo nicht felxibel genug ***/

            a {
                padding:.5em 0;
                color:$brand-secondary;
                border:{
                    style:solid;
                    width:0 0 1px 0;
                    color:rgba(0,0,0,0.7);
                }
            }
        }
    }
}
#footer {
    .navigation > li:last-child{float:right;};
    /** ToDo rename/module search form */
    #navigation_searchform_top {
        &:after {
            @include icon-style ("\f002", 0, 1, 0, 1.8em);}

        #search_term {
            outline: none;
            background: none;
            border: none;
            width: 130px;
            cursor: pointer;
            padding-left: 2px;
        }

    }
    /*** ToDO anderes Modul ggf. umformatieren ***/
    .text {
        &:after{
            content:' ';
            display:block;
            width:100%;
        }
        > div {
            width:50%;
            float:left;
        }
    }
}



/*** service label ***/
.service-label {
    background:$brand-primary;
    color:#fff;
    padding:1em;
    @extend %shadow;
    margin-right:-40px;
    position:relative;

    &:after{
        position:absolute;
        top:-12px;
        right:0;
        content: ' ';
        width:0;
        height:0;
        border:{
            width:6px 10px 6px 10px;
            style:solid;
            color: transparent transparent darken($brand-primary,5%) darken($brand-primary,5%);
        }

    }

    h2, h3, p {
        color:inherit;
    }
    .phone:before {
        @include icon-style ("\f095", .5em, 1, .5em, inherit); 
    }
    p > span {float:left; display:inline-block;width:50%;}   
}

.galery{

}

// ------------------------------------
// Layout
// ------------------------------------
body{
    background: $bg-body;
} 

#page{
    background: $bg-page;
    min-height: 100%;
    position: relative;
}

#header{
    > div {max-width:33%;}
    .logo-container {padding-right: 0};
    .nav-container {padding:0;}

    h1 {
        line-height: 1;

        #navigation_header {

        }

    }


}
#content {
    width: 100%;

    ul,ol {
        margin: 20px 0 20px 20px;
        line-height: 1.357em;
    }
    .main {
       p {
           @extend %lead;
       }
    }

}



.sidebar {
    .article{
        img {
            width:108px;
            height:auto;
            float:left;
            margin-right:1em;
        }
        p{
            @extend %lead;
        }
        a {
            text-decoration: underline;
            margin-top:1em;
        }
    }
}
/* ----- FOOTER ----- */

#footer {
    background:rgba(0,0,0,0.1);
    padding:3em 0;

    /*#search_term {
        outline: none;
        background: none;
        border: none;
        width: 130px;
        cursor: pointer;
        padding-left: 2px;
    }

    form {
        margin-top: 3px;
        background: url('../images/misc/sprite.png') no-repeat -252px -293px;
        width: 24px;
        height: 23px;
        overflow: hidden;
        &.active {
            background: url('../images/misc/sprite.png') no-repeat -252px -335px;
        }
    }*/
    .logo-container {

        a{
            display:block;
            margin:0px auto;
            width:130px;


            img{
                width: 100%;
                height:auto;

            }
        }
    }
    .nav-container{
        float:right;
        &:after{
            content: ' ';
            display:block;
            float:none;
            clear:both;
        }
        > li {
            list-style: none;
            line-height: 1.3em;
            float:left;
            display: inline-block;
            
            &.footer-menu {
                float:right;
                margin-left:2em;
                .navigation li {
                    padding-right:2em;
                }
            }
        }
    }
.navigation {
    float:right;
    margin: 0;
}
}

/* ----- Responsive MENU ----- */
#menu {
    /** old styles **/
    width: 220px;
    min-height: 50px;
    margin-left: 20px;
    float: left;
    padding-bottom: 50px;
    .navigation {
        display: inline;
        li {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 12px;
                line-height: 24px;
                color: #797979;
                display: block;
                &:hover,
                    &.active {
                    color: #0083cb;
                }
                &.active+ul>li {
                    display: block;
                }
            }
            ul li {
                margin-left: 28px;
                display: none;
                a {
                    padding-left: 5px;
                    border-bottom: 1px dotted #ccc;
                    &.first {
                        border-top: 1px dotted #ccc;
                    }
                }
            }
        }
    }
    @media screen and (min-width:$screen-sm + 1){
        display:none;
    }
    @media screen and (max-width:$screen-sm){
        &+#content {
            min-height: 50px;
            width: 660px;
            margin-left: 30px;
        }
    }
}

/* ----- SLIDER ----- */
#slider {
    
}

/*
#slider{
    .slider {
        width: 100%;
        @media screen and (min-width:$screen-lg){
/*            height: 350px;*
        }
        .images {
            display: inline;
            margin: 0;
            li {
                filter: alpha(opacity=0);
                list-style: none;
                left: 20px;
                opacity: 0;
                position: absolute;
                &.active {
                    opacity: 1;
                    h2,h3 {
                        display: block;
                    }
                }
                img {
                    position: absolute;
                    z-index: 1;
                    margin: 0;
                    max-width: none;
                }
                h2,h3 { /** Todo stylen + aufräumen **
                    color: #fff;
                    display: block;
                    font-family: Verdana;
                    font-size: 18px;
                    height: 150px;
                    left: 290px;
                    line-height: 22px;
                    position: absolute;
                    top: 75px;
                    width: 560px;
                    z-index: 2;
                    display: none;
                }
                h2 {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 30px;
                    top: 27px;
                }
            }
        }

    }
}
/* ----- GALERY ----- */
.galery { /*** ToDo normale pictute gallery testen und slider separat vom body.start stylen*/
    width: 100%;
    .source {
        display: none;
    }

    .pagination {
        display: inline;

        body.start & {display:none;} /** ToDo: testen, wenn mehr Logos kommen ***/

        li{
            list-style: none;
            float: left;
            +li {
                margin-left: 2px;
            }
            a {
                text-decoration: none;
                padding: 2px 5px;
                border: 2px solid transparent;
                display: block;
                margin-bottom: 20px;
                color: #797979;
                &.active {
                    border: 2px solid #ccc;
                    color: #0083cb;
                }
            }
        }

    }
    body.start & {
        display:table;
        .slider {
            margin:0;
            line-height:1;
            display:table-row;
            li {
                display:table-cell;
                width:1%;
                overflow: hidden;
                img {
                    width: 165px;
                }
            }
        }
    }
}
/*----- copyright----*/
#copyright {
    padding: 1em 0 2em 0;
    p {
        font-size:smaller;
        line-height: 1.1;
    }
}