// ------------------------------------
// Settings
// ------------------------------------
$foo:red;
/* Mediaqueries breakpoints */
$screen-micro: 213px;
$screen-xs: 480px;
$height-iphone5:568px;
$screen-pad-mini:600px;
$height-iphone6:667px;
$height-iphone6plus:736px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/****  COLORS  ****/
$brand-primary: #0d59ab;
$brand-secondary: #0d355e;

$text-color:#000;
$border-color:#ccc;
$bg_body:rgba(0,0,0,.05);
$bg_page:#fff;

// ------------------------------------
// Font attributes.
// ------------------------------------

$font-size: 14px;
$font-line: 1.2;
$font-indent: 2em;

// ------------------------------------
// Heading attributes.
// ------------------------------------

$font-size-h1: $font-size * 1.8;
$font-size-h2: $font-size * 1.7;
$font-size-h3: $font-size * 1.4;
$font-size-h4: $font-size * 1.0;
$font-size-h5: $font-size * 1.0;
$font-size-h6: $font-size * 1.0;

// ------------------------------------
// Font families.
// ------------------------------------
$font-base: Arial, Helvetica, Verdana sans-serif;
$font-headings:'Roboto', $font-base;

@mixin text-style($font-size,$font-line,$color){
    font:{
        size:$font-size;
        color:$color;
    }
    line-height:$font-line;
}
@mixin icon-style ($cnt, $pd-ri, $op, $mg-le, $size) {
    font-family: 'FontAwesome';
    content: $cnt;
    padding-right: $pd-ri;
    opacity: $op;
    margin-left:$mg-le;
    font-size:$size;
}
@mixin border-box($gap){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: $gap;
}
@mixin border-radius ($r){
    -webkit-border-radius: $r;
    border-radius: $r;
}
@mixin circle($size) {
    width:$size;
    height:$size;
    @include border-radius ($size/2);
}
%basic-reset{
    margin: 0;
    padding: 0;
}
%shadow{
    -webkit-box-shadow: 0 2px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px 2px rgba(0,0,0,0.1);
}
%list-icon{
    @include icon-style ("\f058", 2em, 1, 0, inherit);
}
%text-normal {
    font-family:$font-base;
    @include text-style($font-size,$font-line * 1.2,$text-color);
}
%text-lead {
    font-family:$font-base;
    @include text-style($font-size * 1.2,$font-line * 1.2,$text-color);
}
%text-header {
    margin-bottom:2em;
    color:$brand-primary;
}
%button {
    display: block;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    height: 1.6em;
    line-height: 1.6;
    @include border-radius (7px);
    border: 0;
    font-size: 1em;
}
// ------------------------------------
// Formulare
//-------------------------------------/
select,
textarea,
input[type="text"],
input[type="password"],
button[type="submit"],
button[type="button"]{
    @include border-box(0);
}
[type="submit"],
[type="reset"],
[type="button"]{
    width: 100%;
    padding:0 1em;
    height:44px;
}
/** contact **/
form[id*="pifa-"] {
    /*    width:70%;*/
    margin-top: 30px;
    position: relative;
    [class*="pifa-field-"] {
        margin-bottom:1em;
        &:before, &:after{
            content: " ";
            display: table;
        }
        &:after {
            clear:both;
        }
        label {
            display: block;
            min-width: 200px;
            height:100%;
            float: left;
            font-weight: normal;
        }
        select, input[type="text"], input[type="email"] {
            height:40px;
        }
        select, input[type="text"], input[type="email"], textarea {
            width: 300px;
            float:left;
            margin-left: 1em;
            outline: 0 none;

        }
        input[type="checkbox"],.checkbox_wrapper label{
            width:auto;
            float:left;
        }
        .checkbox_wrapper label{
            margin:.2em 0 0 .5em;
        }
        &.button_red {
            margin-left:200px;
        }
        &.button_red, &.button_grey {
            float:left;
            &:before, &:after{
                content: none;
                display: inline;
            }
            &:after {
                clear:none;
            }
            input {margin:0 1em;}
        }

    }
    &:before, &:after{
        content: " ";
        display: table;
    }
    &:after {
        clear:both;
    }
}
/** google map **/
#googleMap{
    float: none;
    margin:0 auto;
    @media screen and (max-width:$screen-pad-mini){
        min-width:90%;
        max-width: 550px;
        height:150px;
    }
    @media screen and (min-width:$screen-pad-mini){
        min-width:90%;
        height:250px;
        margin:0 0 1em 0;
    }
}
#address{
    max-width: none;
    margin:0;
}

// ------------------------------------
// Globals
// ------------------------------------
sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}
.vcenter {
    @media screen and(min-width:$screen-sm + 1){
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}
.login input[type="submit"],
.button{
    @extend %button;
    &.red{
        color: #fff;
        background: $brand-primary;
    }
    &.grey{
        color: #fff;
        background: lighten($text-color,50%);
    }
}
div.button_red input,div.button_grey input {
    @extend %button;
    position: relative;
    float: left;
    margin-right: 20px;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
    @media screen and (max-width:$screen-sm){
        margin-top: 10px;
        outline: 0 none;
        width: 100%;
        overflow: hidden;
    }
}
table {
    border-collapse:collapse;
    tr{
        th {font-weight: bold;}
        th, td {
            padding:.5em 1em;
        }
        &:nth-child(even) td{background: lighten($text-color,90%);}
    }


}
/*** Text-Styles ***/
html {
    font-size:62,5%;
    -webkit-text-size-adjust:auto;
    -ms-text-size-adjust:auto;
}
html, body {
    text-rendering: optimizeLegibility;
    height:100%;
}
body {
    /*Pages shadow to be done*/
    font-family: $font-base;
    font-size: $font-size;
    line-height: $font-line;
    color: $text-color;
    &.no-media .hide_desktop {
        display: none !important;
    }
    .hide_desktop {
        @media (min-width: $screen-md) {display: none !important;}

    }
    .hide_mobile {
        @media (max-width: $screen-sm) {display: none !important;}
    }
    &.menu_open {
        @media (max-width: $screen-sm) {
            overflow: hidden;
            #page {
                height: 100%;
                overflow: hidden;
            }
        }

    }
}
h1, h2, h3 {
    font-family:$font-headings;
    margin:0;
    padding:0;
}
h1 {
    @include text-style($font-size-h1,$font-size * 2.5,$brand-primary);
    font-weight:200;
    @media screen and (max-width:$screen-micro){
        font-size:$font-size * 1.25;
        line-height:1.4;
    }
    #page-title &{
        text-align:center;
        margin:1.6em 0;
        color:$brand-secondary;
    }
    #cookie_note & {font-size:$font-size;}
}
h2 {
    @include text-style($font-size-h2,$font-size * 2,$brand-primary);
    font-weight:300;
}
#content {
    @media screen and (max-width:$screen-sm){
        margin:0;
        > img {
            height: auto;
            max-width: 100%;
        }
    }
    #main h1:first-child,
        #main h2:first-child,
        #content #sidebar > h3:first-child{
        @extend %text-header;
        margin-bottom: 1em;

    }
    #main hgroup h1 {font-size:smaller;}
    #main h2 {margin-bottom: .5em;}
}
h3 {
    @include text-style($font-size-h3,$font-size * 1.7,$text-color);
    font-weight:500;
    #content #sidebar > &{
        @extend h2;
    }
    #content #sidebar .article > &, #content #main > &{
        color:$text-color;
        margin-bottom: 1.714em;
    }
}
h4, h5, h6 {
    @include text-style($font-size,$font-size * 1.1,$text-color);
    font-weight:500;
}
p{
    @include text-style(1em,1.4,$text-color);
    font-weight:normal;
    &.lead {
        @extend %text-lead;
    }
    &+p {
        margin-top: 7px;
    }
    a {
        color: $brand-primary;
        text-decoration: none;
        &:hover {
            color: $brand-secondary;
            text-decoration: none;
            border-bottom: 1px dotted #9ba21b;
        }
    }
}

#content {
    width: 100%;
    #main {
        h2:first-child + p {
            @extend %text-lead;
        }
        p, li, li,li > p {
            font-size:1em;
        }
        ul,ol {
            margin: 20px 0 20px 20px;
            line-height: 1.357em;
            li {
                margin:.5em 0;
            }
        }
    }

}

// ------------------------------------
// Components
// ------------------------------------
/* ----- NAVIGATION ----- */
#meta-nav {
    position: absolute;
    top:5px;
    right:5px;
    width:1em;
    height:1em;
    li {
        display:inline-block;
        a {
            display:block;
            overflow:hidden;
            opacity:0;
            &:hover {
                cursor:pointer;
            }
        }
    }
}
.navigation {
    @include text-style($font-size,1.1,$text-color);
    #header .nav-container &{
        @media screen and (min-width:$screen-md){margin-left:2em;}
    }
    li {
        list-style: none;
        a {
            color:inherit;
            &:hover {text-decoration: none;}
            &.active {color:$brand-primary;}
        }
        ul {
            margin:0;
            .nav-container &{display: none;}
        }
        #header .nav-container & {
            float:left;
            max-height:70px;
            padding-right:5%;
            width:45%;
            font-size: 1.2em;
            border:{
                width:0 0 2px 0;
                style:solid;
                color:rgba(0,0,0,0.5);
            }

            a {
                padding:0.857em 0;
                display:block;
                & + ul {display:none;} 
            }
        }
        #sidebar & {
            display:block;
            > a {
                display:none;
                line-height: 1.8;
                border-bottom:1px dotted $brand-secondary;
            }
            a.active {
                display:block;
                &, &:hover {color:$brand-primary;}

                & + ul > li > a {display: block;}
            }
            ul {padding-left:2em;margin-bottom:-1px;}
        }
        #footer & {
            font-family:$font-base;
            @media screen and (max-width:$screen-sm -1 ){width:100%;display:block;}
            @media screen and (min-width:$screen-sm){
                display:inline-block; 
            }


            &+li {
                @media screen and (min-width:$screen-sm){
                    margin-left: 1em;
                }
            }
            a {
                /*                font-size: .9em;*/
                text-decoration: none;
                line-height: 2.2;
                color: lighten($text-color,5%);
            }
        }
    }
}
/* ----- GALERY ----- */
.galery {
    .source {
        display: none;
    }
    li {
        list-style: none;
        #content & {
            float: left;
            display: inline;
        }
    }
    .slider,.pagination {
        display: inline;
        margin:0 !important;
    }
    .slider li {
        @media screen and (max-width:$screen-xs){
            width:100%;
            height:auto;
        }
        @media screen and (min-width:$screen-sm){
            width: 308px;
            height: 183px;
            &.odd {
                margin-left: 20px !important;
            }
        }
        @media screen and (min-width:$screen-md){
            width: 283px;
            height: 153px;
        }
        border: 1px solid $brand-primary;
        margin-bottom: 20px;
        overflow: hidden;
        margin-top: 1px;
        &+li {
            margin-left: 2px;
        }
        img {width: 100%; height:auto;}
    }
    @media screen and (max-width:$screen-sm){
        width: 100%;
        #content & ul.slider {
            margin: 0;
        }
        .slider li {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: auto;
            line-height: 0;
            margin: 0 0 2% 0;
            width: 47%;
            &.odd {
                margin: 0 0 2% 2%;
            }
            img {
                width: 100%;
            }
        }
    }
}
.pagination{
    li {
        &+li {
            margin-left: 2px;
        }
        a {
            text-decoration: none;
            padding: 2px 5px;
            border: 2px solid transparent;
            display: block;
            margin-bottom: 20px;
            color: #797979;
            &.active {
                border: 2px solid $border-color;
                color: #0083cb;
            }
        }
    }
    @media screen and (max-width:$screen-sm){
        > ul {
            line-height: 1;
            margin: 0;
        }
        > li {
            display: table-cell;
            float: none;
            > a {
                text-align: center;
                margin: 0;
                &#forward {
                    text-align: right;
                }
            }
            &:first-child{
                > a {
                    text-align: left;
                }
            }
        }
    }
}

#logo-gallery {
    .slider {
        ul {
            display: table-row;
            &:before, &:after {
                display: table;
            }
        }
        li {
            border:0;
            width: 15%;
            max-height: 115px;
            display:table-cell;
            @media screen and (max-width: $screen-xs) {
                display:block;
                width:100%;
                &.odd{margin:0 !important;}
            }
        }

    }

    .pagination {
        @media screen and (min-width:$screen-xs){
            visibility:hidden;
        }
    }
    #image-container {
        overflow: hidden;
        @media screen and (min-width:$screen-lg){height: 350px;}
        margin-bottom: 2em;
    }
}
/* ----- SLIDER ----- */
#slider {
    padding:0;
    .slider{
        width:100%;
        @media screen and (min-width:$screen-lg){height: 350px;}
        @media screen and (min-width:$screen-sm) and (max-width:$screen-lg - 1){height: 250px;}
        .images {
            margin:0;
            padding:0;
            display: inline;
            li {
                display:block;
                width:100%;
                height:100%;
                filter: alpha(opacity=0);
                left: 0px;
                opacity: 0;
                position: absolute;
                overflow: hidden;
                &.active {
                    opacity: 1;
                }
                img{
                    position: absolute;
                    z-index: 1;
                    margin: 0;
                    /**reset***
                    max-width: none;*/
                    width:100%;
                    height:auto;
                }
                a {
                    font-size: smaller;
                    font-weight: normal;
                }
            }
        }
        .caption{
            background: rgba(255,255,255,0.75);
            padding:1em 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
            left: 0;
            z-index: 999;
            h2,h3 {
                display: block;
                text-align: center;
                color:$brand-secondary;
            }
        }
        .pagination{
            position: absolute;
            bottom:0;
            right:0;
            z-index:999;
            margin:0;
            display:block;
            > li {
                display:block;
                margin:1em;
                > a{
                    display: block;
                    float:none;
                    padding:0;
                    margin:0 !important;
                    @include border-radius(50%);
                    width: 5px;
                    height: 5px;
                    text-indent: -9999px;
                    outline: none;
                    border:0;
                    background:$brand-primary;
                    opacity: 0.5;
                    font-size: 0;
                    line-height: 0;

                    &.active,&:hover{opacity: 1;margin:0;}
                }
            }
        }
    }
}
.slider {
    @media (max-width: $screen-sm) {
        height: auto;
        position: relative;
    }
    li img {
        @media (max-width: $screen-sm) {
            position: relative;
        }
    }
}
.action {
    color:$brand-primary;
    background:white;
    @include circle(46px);
    text-align: center;
    display:block;
    position: absolute;
    top:50%;
    margin-top:-23px;
    z-index:999;
    &:focus,&:active{outline:0;box-shadow: none;}
    > i {font-size:36px;line-height: 36px;padding:5px 0;}

    &.next {
        right:-20px;
        left:auto;
    }
    &.prev{
        left:-20px;
        right:auto;
    }
}
.lightbox { /** Todo **/
    .next_image,.prev_image {
        @extend .action;

        &:focus,&:active{outline:0;box-shadow: none;}
    }
    .next_image {
        right:0px;
        left:auto;
    }
    .prev_image {
        left:0px;
        right:auto;
    }
}


/* ------ Link List ----------*/
.link_list {
    margin-top: 40px;
    li {
        list-style: none;
        margin: 0 0 1em;
        &:hover a {
            color: $brand-secondary;
            background: url('../images/misc/sprite.png') no-repeat 0 -231px;
        }
        a, a:visited, a:active {
            color: $brand-primary;
            background: url('../images/misc/sprite.png') no-repeat 0 -196px;/** Todo **/
            padding-left: 9px;
        }
        p {
            margin-top: 7px;
        }
    }
}
/* ------ Download List ----------*/
ul.download_list {
    display: inline;
    >li {
        list-style: none;
        padding: 15px 0;
        >img {
            width: 146px;
            height: 72px;
            float: left;
            margin-right: 20px;
            border: 1px solid $brand-primary;
            +.content {
                float: left;
                width: 472px;
            }
        }
        span.info {
            color: lighten($text-color,50%);
            font-size: small;
            display: block;
            margin: 1em 0 .5em 0;
        }
        p {
            font-size: small;
        }
    }
    ul.formats {
        display: inline;
        li {
            list-style: none;
            float: left;
            +li {
                margin-left: 20px;
            }
            a:link,a:visited,a:active {
                color: $brand-primary;
                &:before {@include icon-style ("\f019", .5em, 1, 0, 2em);}
            }
            &:hover a {
                opacity:0.5;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width:$screen-sm){
        margin: 0;
        display: table;
        > li {
            display: table-row;
            padding: 0;
            > img {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: table-cell;
                float: none;
                height: auto;
                margin: 0;
                max-width: 100%;
                width: 100%;
                &.safari {
                    width: auto;
                }
                &+.content {
                    display: table-cell;
                    float: none;
                    padding: 0 0 20px 2%;
                    vertical-align: top;
                    width: auto;
                }
            }
        }
    }
}
h2.download_list {
    margin-top: 10px;
}
/*-------FB Widget -----*/
.fb_iframe_widget{
    @media screen and (max-width:$screen-sm){
        margin: 10px 0 0 0;
        width: 100%;
        iframe {
            width: 100% !important;
        }
        span {
            width: 100% !important;
        }
    }
}
.fb_iframe_widget_fluid span {
    @media screen and (max-width:$screen-sm){
        width: 100% !important;
    }
}
/* ----- SITEMAP ----- */
ul.sitemap {
    margin: 0 0 30px 0 !important;
    padding: 0;
    width: 100%;
    li {
        list-style: none;
        a {
            display: block;
            padding: 0.5em 0;
            color: $brand-primary;
            text-decoration: none;
            &:hover {opacity:0.5};
        }
        ul {margin:0 !important;}
    }
    >li {
        border-bottom: 1px dashed $text-color;
        >a {
            font-weight: bold;
        }
        ul li {
            padding-left: 2.5em;
            ul>li>ul>li a:hover {
                opacity:0.5
            }
        }
    }
    @media screen and (max-width:$screen-sm){
        padding: 10px 0 11px 0;
    }
}

// ------------------------------------
// Layout
// ------------------------------------
body{
    background: $bg-body;
} 

#page{
    background: $bg-page;
    min-height: 100%;
    position: relative;
    padding:20px;
    @media screen and (max-width:$screen-sm){
        @include border-box(10px);
    }
}
.row{
    margin:2em 0;
    @media screen and (min-width:$screen-sm) and (max-width:$screen-md - 1){
        &#header {margin:0 0 1em 0;}
    }
    @media screen and (min-width:$screen-md){
        &#header {margin:0 -55px 2em -20px;}
    }

    &#footer {margin-bottom:0;}
    /*    > [class*="col-"] {border:1px solid $foo;}*/
}
/* ----- HEADER ----- */

#header {
    position:relative;
    @media screen and (min-width:$screen-sm) and (max-width:$screen-md - 1){
        /*        > div {max-width:30%;}*/
        .col-sm-6{width: 49%;}
    }
    @media screen and (min-width:$screen-md){
        > div {max-width:33%;}
    }

    .logo-container {
        padding-right: 0;
        text-align:center;
        img {
            max-width:100%;
            @media screen and (max-width:$screen-xs){
                width: 75%;
                margin:1em auto;
            }
        }
    };
    .nav-container {padding:0;}

    /*** service label ***/
    .service-label > div{
        background:$brand-primary;
        color:#fff;
        padding:1em;
        @extend %shadow;
        position:relative;
        @media screen and (min-width:$screen-pad-mini) and (max-width:$screen-sm - 1){
            margin:1em 2em;
        }
        @media screen and (min-width:$screen-sm)and (max-width:$screen-md - 1){
            margin-top:70px;
        }
        @media screen and (min-width:$screen-md){
            margin-top:3em;
        }
        @media screen and (min-width:$screen-md){
            &:after{
                position:absolute;
                top:-12px;
                right:0;
                content: ' ';
                width:0;
                height:0;
                border:{
                    width:6px 8px 6px 10px;
                    style:solid;
                    color: transparent transparent darken($brand-primary,5%) darken($brand-primary,5%);
                }

            }
        }
        h1 {line-height: 1;}
        h2, h3, p {
            color:inherit;
        }
        h2 {
            /*            @media screen and (min-width: $screen-xs){font-size:smaller;} * Todo **/
        }
        h3 {margin:.5em 0;}
        .phone:before {
            @include icon-style ("\f095", .5em, 1, .5em, inherit); 
        }
        @media screen and (min-width:$screen-xs + 1){
            p > span {float:left; display:inline-block;width:50%;}  
        }

    }
}
/* .burger_menu & hidden menu*/
a.burger_menu {
    @media screen and (min-width:$screen-xs) and (max-width:$screen-md - 1){
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        top:0;
        cursor: pointer;
        /*        display: inline-block;*/
        font-size: 24px;
        zoom: 1;
        margin: 0 0 -10px 0;
        padding-left: 30px;
        z-index: 980;
    }

    &:after, &:before {
        border-bottom: 3px solid $brand-primary;
        content: "";
        left: 0;
        position: absolute;
        width: 30px;
    }
    &:before{
        border-top: 3px solid $brand-primary;
        height: 10px;
        top: 0;
    }
    &:after{
        height: 12px;
        position: absolute;
        top: 6px;
    }
}
#menu {
    @media screen and (min-width:801){display:none;}
    background: $brand-primary;
    top: 0px !important;
    position: fixed;
    right: -380px;
    height:100%;
    @extend %shadow; 
    margin: 0;
    overflow-y: auto;
    padding: 10px;
    z-index: 2000;
    &+#content {
        margin-left: 0;
        width: 100%;
    }
    ul {
        padding:1em;
        li {
            text-transform: uppercase;
            line-height: 1.2;
            a{
                color:#fff;
                display:block;
                padding:.5em 2em;
                border-bottom:1px solid #fff;
                &:hover,&.active{
                    color: #eee;
                }
            }
            ul {
                margin: 0 0 0 5px;
                padding:0 1em;
            }
        }
    }
}

/* ----- CONTENT ----- */

#sidebar {
    .article{
        img {
            width:108px;
            height:auto;
            float:left;
            margin-right:1em;
            @media screen and (max-width:$screen-micro){
                display:block;
                float:none;
            }
        }
        p{
            @extend %text-lead;
        }
        a {
            text-decoration: underline;
            margin-top:1em;
        }
    }
}
/* ----- BREADCRUMB ----- */
#breadcrumb {
    ul {
        display: block;
        margin:0 0 2em 0 !important;
        li {
            list-style: none;
            float: left;
            font-size: small;
            color: lighten($text-color, 50%);
            font-weight: bold;
            &+li {
                margin-left: .5em !important;
            }
            a, a:visited, a:active {
                text-decoration: none;
                color: lighten($text-color, 50%);
                font-weight: normal;
            }
        }
    }
    & + h2{
        margin:1em 0;
    }
    @media (max-width: $screen-sm) {
        height: auto;
        margin: 10px 0;
        padding: 0;
        ul {
            display: inline-block;
            li,li+li {
                margin: 0 5px 0 0;
                padding: 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

/* ------ Contact Form ----- */
#contact_form{
    @media screen and (max-width: $screen-sm){
        input[type="text"], select, label{
            width: 100%;
            float: none;
        }
        input[type="checkbox"] {
            margin: 10px 3px 3px 0px;
        }
        div.policy label {

        }
        #contact_form_submit_left,#contact_form_submit_right {
            float: none;
            margin: 10px 0 0 0;
        }
    }
    @media screen and (max-width:$screen-xs) {
        input[type="text"], select {
            width: 100%;
        }
    }
}
/* ----- FOOTER ----- */
#footer {
    background: lighten($border-color,10%);
    padding:2em 0;
    * {color:$brand-primary;}
    .nav-container li {
        list-style: none;
        float: left;
    }
    li.footer-menu{
        float:left;
        width: 100%;
        li {
            @media screen and (min-width: $screen-micro) and (max-width:$screen-xs){
                float:none;
                display:block;
                width:100%;
            }
            @media screen and (min-width: $screen-xs){
                display: table-cell;
                width:auto;
                padding-right: 1em;
                line-height:1.2;
            }
            @media screen and (min-width: $screen-xs) and (max-width:$screen-sm){
                padding-right: .5em;
            }
            a {
                border-bottom:1px solid $brand-primary;
                color:$brand-primary;
                display: inline-block;
                @media screen and (min-width: $screen-micro) and (max-width:$screen-xs){
                    display:block;
                    width:100%;
                    line-height:3em;
                }
            }
            &:last-child{padding-left:0;}
        }
    }
    /*    li:last-child{float:right;}*/

    #navigation_searchform_top {
        &:after {
            @include icon-style ("\f002", 0, 1, 0, 1.8em);}

    }
    .text {
        &:after{
            content:' ';
            display:block;
            width:100%;
        }
        > div {
            width:50%;
            float:left;
        }
    }
    .logo-container {

        a{
            display:block;
            margin:0 auto 1em auto;
            width:130px;
            text-align:center;


            img{
                width: 100%;
                height:auto;

            }
        }
    }
    #footer-infos > [class*="col-"]{
        padding:0;
        h3 {font-weight:300;margin-bottom:1em;}
    }
    #copyright {
        font-size: small;
        line-height: 1.2;
    }
}
/* ----- UI WIDGETS ----- */
/* workarounds */
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0; /* reset extra padding in Firefox */
}
.ui-dialog {
    position: absolute;
    overflow: hidden;
    border: 1px solid lighten($text-color, 50%);
    padding: 5px 25px 25px 25px;
    @include border-radius(7px);
    @extend %shadow;
    @media screen and (max-width:$screen-sm){
        width:90%;
        margin:5%;
    }
    .ui-dialog-titlebar {
        height: 30px;
        position: relative;
    }
    .ui-dialog-title {
        float: left;
        margin: .1em 16px .1em 0;
    }
    .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 19px;
        margin-top: -18px;
        height: 18px;
        span {
            display: block;
            margin: 1px;
        }
        &:hover,&:focus{padding: 0;}
        @media screen and (max-width:$screen-sm){
            display: block;
            margin: 0;
            right: auto;
            text-align: center;
            top: 6px;
            width: 100%;
        }
    }
    .ui-dialog-content {
        position: relative;
        border: 0;
        background: none;
        overflow: auto;
        zoom: 1;
        min-height: 120px !important;
        &#myDialog {
            padding: 10px;
        }
    }
    .ui-dialog-buttonpane {
        text-align: center;
        border-width: 1px 0 0 0;
        .ui-dialog-buttonset {
            min-width:220px;
            margin:0px auto;
            padding-top: 50px;
        }
        button {
            margin: .5em .4em .5em 0;
            cursor: pointer;
        }
    }
    .ui-resizable-se {
        width: 14px;
        height: 14px;
        right: 3px;
        bottom: 3px;
        @media screen and (max-width:$screen-sm){display: none !important;}
    }
    img {
        @media screen and (max-width:$screen-sm){
            display: block;
            width: 100%;
        }
    }
    @media screen and (max-width:$screen-sm){
        .dialog-gallery .ui-dialog-titlebar {
            display: none;
        }
        .cookie_note_dialog {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            left: 0 !important;
            padding: 10px !important;
            &+.ui-widget-overlay {
                width: 100% !important;
            }
            .ui-dialog-buttonpane {
                margin: 10px 0 0 0;
                overflow: hidden;
                padding: 0;
            }
            .ui-dialog-titlebar {
                display: none;
            }
            .ui-dialog-buttonset {
                float: none;
                padding: 0;
                width: 100%;
                button {
                    margin: 0;
                    &+button {
                        margin: 10px 0 0 0;
                    }
                }

            }
            #cookie_note {
                height: auto !important;
                position: relative;
            }
        }
    }
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-widget{
    input,select,textarea,button {@include text-style($font-size,$font-line,$text-color);}
}
.ui-widget-content {
    background: white;
    color: $text-color;
    padding: 2em;
    a {
        color: $text-color;
    }
}
.ui-widget-header {
    a {
        color: $text-color;
        text-decoration: none;
        font-size: 1em;
        text-align: right;
    }
}